@font-face {
    font-family: fipps;
    src: url('/fonts/Fipps-Regular.otf');
}

/* home page */

.modal-content{
	text-align: center;
}
.game-tab {
	margin-left: 12px;
}

#top_game_image {
	width: 80px;
	height: 60px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#top_game_image img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}
#top_game_title {
	padding-top: 10px;
	color: gray;
}
#game_name {
	color: #339966;
}

.sub-title {
	text-align: center;
    width: 695px;
    height: auto;
    display: block;
    height: 30px;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #339966;
    margin: 20px auto;
    padding: 5px 0 0px 10px;
}
.game-content {
    background-image: url('/dummy/tv.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 695px;
    height: 550px;
    display: block;
    margin: 0px auto;
    padding: 5px 0 0px 10px;
}
#emulator {
    margin-top: 27px;
    margin-left: 29px;
}
.description{
    width: 695px;
    height: auto;
    display: block;
    margin: 20px auto;
    padding: 5px 0 0px 10px;
    border: 2px solid #dddddd;
}
.top-bar{
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background: #4E5869;
    margin: 0;
    padding: 0;
}
.topgame_table{
    border: 1px solid #dddddd;
    background-color: wheat;
}

.content_title {
    background: #222222;
    width: 1104px;
    height: 53px;
    margin-bottom: 15px;
    text-align: center;
    font-family: fipps;
    color: white;
}

.top_breakcum {
  font-family: fipps;
  display: inline;
  margin-left: 25px;
}
.top_breakcum img {
  width: 50px;
  height: 50px;
}

#popover {
  margin-right: 100px;
}
.content {
  margin-top: 10px;
}

/* nav bar */

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding-right: 15px;
  padding-left: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 5px;
  width: auto;
}

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}


/* comment form */

.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel-heading {
    background-color: #339966;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

/* system game index */
.image_container {
  position: relative;
  height: 200px;
  margin-bottom: 20px;
}

.image_container img {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #222222;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.image_container:hover .overlay {
  height: 50%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.popover{
    max-width:1000px !important;
}
.game_tip {
  width: 100px;
  height: 100px;
}
.game_tip img {
  max-width: 100%;
  width: 100%;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
